.layout {
  display: flex;
  height: calc(100vh - 100px) !important;
  flex-wrap: wrap;
  flex-direction: row;
}

.imageHolder {
  background-color: cornflowerblue;
  width: 50%;
}

.details {
  background-color: white;
  width: 50%;
}

.textCenter {
  text-align: center;
}

.pokeCard {
  height: 80%;
  width: 60%;
  margin: 8% auto;
  background-color: beige;
  box-shadow: 10px 10px 10px darkgrey;
  border: 3px solid black;
}

.rowContent {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  margin: 0 5%;
}

@media (max-width: 900px) {
  .layout {
    flex-direction: column;
  }

  .imageHolder {
    width: 100%;
  }

  .details {
    width: 100%;
  }
}
