.layout {
  display: flex;
}

.imageHolder {
  background-color: cornflowerblue;
  width: 50%;
  min-height: 100%;
}

.details {
  background-color: beige;
  width: 50%;
}

.textCenter {
  text-align: center;
}
